##
## Edit screen for validator plugin parameters. Input view + setting current values
##
##
<tr bgcolor=ffffff>
    <td align="right" valign="top" bgcolor="fffff0">
        <span class="label">Custom field to check (can be a number or a string field):</span>
    </td>
    <td bgcolor="ffffff" nowrap>
        <select name="customFieldNameId">
        #foreach($customFieldNameCurr in $customFieldNameList)
             #if($currentcustomFieldNameId==$customFieldNameCurr.getId())
                     <option selected value="$customFieldNameCurr.getId()"/>$customFieldNameCurr.getName()
                 #else
                     <option value="$customFieldNameCurr.getId()"/>$customFieldNameCurr.getName()
                 #end
        #end
        </select>
        <br><font size="1">The name of the customfield to check</font>
    </td>


</tr>
<tr bgcolor="ffffff">
    <td align="right" valign="top" bgcolor="fffff0">
        <span class="label">Decimal:</span>
    </td>
    <td bgcolor="ffffff" nowrap>
	<input type="checkbox" name="checkDecimal" 
	#if ($currentcheckDecimal=="on")
		checked="checked"
	#end
	>
    	<br><font size="1">The entry can be a decimal number (0-9)</font>
    </td>
</tr>
<tr bgcolor="ffffff">
    <td align="right" valign="top" bgcolor="fffff0">
        <span class="label">and floating point:</span>
    </td>
    <td bgcolor="ffffff" nowrap>
	<input type="checkbox" name="checkFloating" 
	#if ($currentcheckFloating=="on")
		checked="checked"
	#end
	>
    	<br><font size="1">Valid entries can be floating point numbers (-0.0000-9999.12354)</font>
    </td>
</tr>
<tr bgcolor="ffffff">
    <td align="right" valign="top" bgcolor="fffff0">
        <span class="label">and negative:</span>
    </td>
    <td bgcolor="ffffff" nowrap>
	<input type="checkbox" name="checkNegative" 
	#if ($currentcheckNegative=="on")
		checked="checked"
	#end
	>
    	<br><font size="1">Allowed entries can be a negative numbers (-0.0001, -2, -214)</font>
    </td>
</tr>
<tr bgcolor="ffffff">
    <td align="right" valign="top" bgcolor="fffff0">
        <span class="label">Hexadecimal:</span>
    </td>
    <td bgcolor="ffffff" nowrap>
	<input type="checkbox" name="checkHex" 
	#if ($currentcheckHex=="on")
		checked="checked"
	#end
	>
    	<br><font size="1">The entry can be a hexadecimal number (eg. 0x00, 0A12h, 0bbch, 0x1400BBBFF)</font>
    </td>
</tr>
<tr bgcolor="ffffff">
    <td align="right" valign="top" bgcolor="fffff0">
        <span class="label">Binary:</span>
    </td>
    <td bgcolor="ffffff" nowrap>
	<input type="checkbox" name="checkBin"
	#if ($currentcheckBin=="on")
		checked="checked"
	#end
	>
    	<br><font size="1">The entry can be a binary number (eg. 0110b, 0111000b)</font>
    </td>
</tr>
<tr bgcolor="ffffff">
    <td align="right" valign="top" bgcolor="fffff0">
        <span class="label">Check range:</span>
    </td>
    <td bgcolor="ffffff" nowrap>
	<input type="checkbox" name="checkRange" 
	#if ($currentcheckRange=="on")
		checked="checked"
	#end
	>
    	<br><font size="1">The entry must be between [min...max]</font>
    </td>
</tr>

<tr bgcolor="ffffff">
    <td align="right" valign="top" bgcolor="fffff0">
        <span class="label">Min:</span>
    </td>
    <td bgcolor="ffffff" nowrap>
	<input type="text" name="inpRangeMin" value="$currentinpRangeMin">
    	<br><font size="1">The entry must be >= this value.</font>
    </td>
    <td bgcolor="ffffff" nowrap>
	<input ttype="text" name="inpRangeMax" value="$currentinpRangeMax">
    	<br><font size="1">The entry must be <= this value.</font>
    </td>
</tr>

<tr bgcolor="ffffff">
    <td align="right" valign="top" bgcolor="fffff0">
        <span class="label">Ignore whitespace:</span>
    </td>
    <td bgcolor="ffffff" nowrap>
	<input type="checkbox" name="checkIgnoreWhitespace" 
	#if ($currentcheckIgnoreWhitespace=="on")
		checked="checked"
	#end
	>
    	<br><font size="1">Ignore spaces, dashes, underscores, etc before validating</font>
    </td>
</tr>

<tr bgcolor="ffffff">
    <td align="right" valign="top" bgcolor="fffff0">
        <span class="label">Entry can be null/empty:</span>
    </td>
    <td bgcolor="ffffff" nowrap>
	<input type="checkbox" name="checkCanBeNull" 
	#if ($currentcheckCanBeNull=="on")
		checked="checked"
	#end
	>
    	<br><font size="1">A valid entry can be empty/null.</font>
    </td>
</tr>
