<tr bgcolor=ffffff>
    <td align="right" valign="top" bgcolor="fffff0">
        <span class="label">Custom field to check (can be a number or a string field):</span>
    </td>
    <td bgcolor="ffffff" nowrap>
        <select name="customFieldNameId">
        #foreach($customFieldNameCurr in $customFieldNameList)
             #if($currentcustomFieldNameId==$customFieldNameCurr.getId())
                     <option selected value="$customFieldNameCurr.getId()"/>$customFieldNameCurr.getName()
                 #else
                         <option value="$customFieldNameCurr.getId()"/>$customFieldNameCurr.getName()
                 #end
        #end
        </select>

        <br><font size="1">The name of the customfield to check</font>
    </td>
</tr>
<tr bgcolor="ffffff">
    <td align="right" valign="top" bgcolor="fffff0">
        <span class="label">Must be valid xhtml:</span>
    </td>
    <td bgcolor="ffffff" nowrap>
	<input type="checkbox" name="checkXhtml" 
	#if ($currentcheckXhtml=="on")
		checked="checked"
	#end
	>
    	<br><font size="1">Input string must be valid xhtml</font>
    </td>
</tr>

<tr bgcolor="ffffff">
    <td align="right" valign="top" bgcolor="fffff0">
        <span class="label">Must match regular expression:</span>
    </td>
    <td bgcolor="ffffff" nowrap>
	<input type="text" name="inpRegExp" value="$currentinpRegExp"><br><font size="1">The regexp the string must match <A HREF="http://docs.oracle.com/javase/tutorial/essential/regex/">(regexp tutorial)</A></font>
    </td>
</tr>

<tr bgcolor="ffffff">
    <td align="right" valign="top" bgcolor="fffff0">
        <span class="label">Entry can be null/empty:</span>
    </td>
    <td bgcolor="ffffff" nowrap>
	<input type="checkbox" name="checkCanBeNull" 
	#if ($currentcheckCanBeNull=="on")
		checked="checked"
	#end
	>
    	<br><font size="1">A valid entry can be empty/null.</font>
    </td>
</tr>